<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credit Card Default Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <style>
    body {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://wallpaperaccess.com/full/2666319.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      font-family: 'Arimo', sans-serif;
      margin: 0;
      padding: 0;
      color: #ffffff;
    }

    header {
      background-color: #3498db;
      color: #fff;
      text-align: center;
      padding: 1em 0;
      font-family: 'Pacifico', cursive;
    }

    .predict {
      margin: auto;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 2em;
      margin-top: 2em;
      border-radius: 8px;
    }

    .form-group {
      margin-bottom: 1.5em;
    }

    label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    input, select {
      width: calc(100% - 20px);
      padding: 0.7em;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 0.5em;
      font-size: 1em;
    }

    input[type="submit"] {
      background-color: #3498db;
      color: #fff;
      padding: 1em 2em;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      font-size: 1.1em;
    }

    input[type="submit"]:hover {
      background-color: #2979b5;
    }

    h1, h2, h3, h4, h5, h6 {
      text-align: center; /* Center align headings */
    }

    /* Responsive layout */
    @media screen and (max-width: 768px) {
      .predict {
        width: 90%;
      }
    }
  </style>
    <form action="/prediction" method="POST" >
        <h1>Credit Card Default Prediction</h1>
        <br>
       <!-- Error message section -->
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <div class="form-group">
            <label for="MARRIAGE">MARRIAGE</label>
            <select id="MARRIAGE" name="MARRIAGE">
                <option value="1">Married</option>
                <option value="2">Single</option>
                <option value="3">Others</option>
                <option value="0">No-plan</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="SEX">Gender</label>
            <select name="SEX" id="SEX">
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="EDUCATION">EDUCATION</label>
            <select name="EDUCATION" id="EDUCATION">
                <option value="1">Graduate School</option>
                <option value="2">University</option>
                <option value="3">High School</option>
                <option value="4">Others</option>
                <option value="5">Junior School</option>
                <option value="6">Basic Education</option>
                <option value="0">Uneducated</option>
            </select>
        </div>


        <!-- Continue this pattern for values 4 to 23 -->
        <div class="pay-group">
          <label for="PAY">Repayment Status:</label>

        <div class="form-group">
            <label for="PAY_0">April</label>
            <select name="PAY_0" id="PAY_0">
                <option value="-2">Zero credit</option>
                <option value="-1">Full Payment paid</option>
                <option value="0">Minimum payment paid</option>
                <option value="1">Payment delay for one month</option>
                <option value="2">Payment delay for two month</option>
                <option value="3">Payment delay for three month</option>
                <option value="4">Payment delay for four month</option>
                <option value="5">Payment delay for five month</option>
                <option value="6">Payment delay for six month</option>
                <option value="7">Payment delay for seven month</option>
                <option value="8">Payment delay for eight month</option>
                <option value="9">Payment delay for nine months and above</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PAY_2">May</label>
            <select name="PAY_2" id="PAY_2">
                <option value="-2">Zero credit</option>
                <option value="-1">Full Payment paid</option>
                <option value="0">Minimum payment paid</option>
                <option value="1">Payment delay for one month</option>
                <option value="2">Payment delay for two month</option>
                <option value="3">Payment delay for three month</option>
                <option value="4">Payment delay for four month</option>
                <option value="5">Payment delay for five month</option>
                <option value="6">Payment delay for six month</option>
                <option value="7">Payment delay for seven month</option>
                <option value="8">Payment delay for eight month</option>
                <option value="9">Payment delay for nine months and above</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PAY_3">June</label>
            <select name="PAY_3" id="PAY_3">
                <option value="-2">Zero credit</option>
                <option value="-1">Full Payment paid</option>
                <option value="0">Minimum payment paid</option>
                <option value="1">Payment delay for one month</option>
                <option value="2">Payment delay for two month</option>
                <option value="3">Payment delay for three month</option>
                <option value="4">Payment delay for four month</option>
                <option value="5">Payment delay for five month</option>
                <option value="6">Payment delay for six month</option>
                <option value="7">Payment delay for seven month</option>
                <option value="8">Payment delay for eight month</option>
                <option value="9">Payment delay for nine months and above</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PAY_4">July</label>
            <select name="PAY_4" id="PAY_4">
                <option value="-2">Zero credit</option>
                <option value="-1">Full Payment paid</option>
                <option value="0">Minimum payment paid</option>
                <option value="1">Payment delay for one month</option>
                <option value="2">Payment delay for two month</option>
                <option value="3">Payment delay for three month</option>
                <option value="4">Payment delay for four month</option>
                <option value="5">Payment delay for five month</option>
                <option value="6">Payment delay for six month</option>
                <option value="7">Payment delay for seven month</option>
                <option value="8">Payment delay for eight month</option>
                <option value="9">Payment delay for nine months and above</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PAY_5">August</label>
            <select name="PAY_5" id="PAY_5">
                <option value="-2">Zero credit</option>
                <option value="-1">Full Payment paid</option>
                <option value="0">Minimum payment paid</option>
                <option value="1">Payment delay for one month</option>
                <option value="2">Payment delay for two month</option>
                <option value="3">Payment delay for three month</option>
                <option value="4">Payment delay for four month</option>
                <option value="5">Payment delay for five month</option>
                <option value="6">Payment delay for six month</option>
                <option value="7">Payment delay for seven month</option>
                <option value="8">Payment delay for eight month</option>
                <option value="9">Payment delay for nine months and above</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PAY_6">September</label>
            <select name="PAY_6" id="PAY_6">
                <option value="-2">Zero credit</option>
                <option value="-1">Full Payment paid</option>
                <option value="0">Minimum payment paid</option>
                <option value="1">Payment delay for one month</option>
                <option value="2">Payment delay for two month</option>
                <option value="3">Payment delay for three month</option>
                <option value="4">Payment delay for four month</option>
                <option value="5">Payment delay for five month</option>
                <option value="6">Payment delay for six month</option>
                <option value="7">Payment delay for seven month</option>
                <option value="8">Payment delay for eight month</option>
                <option value="9">Payment delay for nine months and above</option>
            </select>
        </div>
        <div class="form-group">
          <label for="LIMIT_BAL">Limit Balance: <span>(Amount of given credit in dollars includes individual and family/supplementary credit)</span></label>
          <input type="text" id="LIMIT_BAL" name="LIMIT_BAL" placeholder="Amount in dollars">
      </div>


        <div class="form-group">
        <label for="AGE">AGE</label>
        <input type="text" id="AGE" name="AGE" placeholder="in years"><br>
        </div>

        <div class="form-group">
          <div style="display: flex; align-items: center;">
              <span style="font-size: 18px; font-weight: bold; margin-right: 10px;">Bill Amounts:</span>
              <span style="font-size: 14px; color: #666;">(Amount of bill statements in dollars)</span>
          </div>
      </div>
      
      <div class="pay-subgroup">

        <div class="form-group">
        <label for="BILL_AMT1">April</label>
        <input type="text" id="BILL_AMT1" name="BILL_AMT1"><br>
        </div>

        <div class="form-group">
        <label for="BILL_AMT2">May</label>
        <input type="text" id="BILL_AMT2" name="BILL_AMT2"><br>
        </div>

        <div class="form-group">
        <label for="BILL_AMT3">June</label>
        <input type="text" id="BILL_AMT3" name="BILL_AMT3"><br>
        </div>

        <div class="form-group">
        <label for="BILL_AMT4">July</label>
        <input type="text" id="BILL_AMT4" name="BILL_AMT4"><br>
        </div>

        <div class="form-group">
        <label for="BILL_AMT5">August</label>
        <input type="text" id="BILL_AMT5" name="BILL_AMT5"><br>
        </div>

        <div class="form-group">
        <label for="BILL_AMT6">September</label>
        <input type="text" id="BILL_AMT6" name="BILL_AMT6"><br>
        </div>
        <div class="form-group">
          <div style="display: flex; align-items: center;">
              <span style="font-size: 18px; font-weight: bold; margin-right: 10px;">Previous Payments:</span>
              <span style="font-size: 14px; color: #666;">(Amount of previous payments(in dollar))</span>
          </div>
      </div>
      
      <div class="pay-subgroup">

        <div class="form-group">
        <label for="PAY_AMT1">April</label>
        <input type="text" id="PAY_AMT1" name="PAY_AMT1"><br>
        </div>

        <div class="form-group">
        <label for="PAY_AMT2">May</label>
        <input type="text" id="PAY_AMT2" name="PAY_AMT2"><br>
        </div>

        <div class="form-group">
        <label for="PAY_AMT3">June</label>
        <input type="text" id="PAY_AMT3" name="PAY_AMT3"><br>
        </div>

        <div class="form-group">
        <label for="PAY_AMT4">July</label>
        <input type="text" id="PAY_AMT4" name="PAY_AMT4"><br>
        </div>

        <div class="form-group">
        <label for="PAY_AMT5">August</label>
        <input type="text" id="PAY_AMT5" name="PAY_AMT5"><br>
        </div>

        <div class="form-group">
        <label for="PAY_AMT6">September</label>
        <input type="text" id="PAY_AMT6" name="PAY_AMT6"><br>
        </div>

        <br>

        <div style="clear:both;"></div>
        <button class="button" style="display: inline-block; padding: 10px 20px; font-size: 16px; font-weight: bold; text-align: center; text-decoration: none; background-color: #87CEEB; color: white; border: none; border-radius: 4px; cursor: pointer;"
            onmouseover="this.style.backgroundColor='darkblue';"
            onmouseout="this.style.backgroundColor='#87CEEB';" type="submit" value="submit">Submit</button>
    </form>
        <br>

</body>
</html>